@import url('https://fonts.googleapis.com/css2?family=Afacad:ital,wght@0,400..700;1,400..700&family=Be+Vietnam+Pro:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Big+Shoulders+Stencil:opsz,wght@10..72,100..900&family=Goldman:wght@400;700&family=Indie+Flower&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Orbitron:wght@400..900&display=swap');

body {
    background-color: #f0f0fc;
    margin: 0;
    padding: 0;
    font-size: 18px;
    font-family: Inter;
}

div.transaction{
    display: flex;
    flex-direction: column;
    gap: 2rem;
    margin: 4rem;
    padding: 3rem;
}
div.transaction-header{
    display: flex;
    justify-content: space-between;
}
div.tool{
    display: flex;
    justify-content: space-between;
}
div.sort{
    display: flex;
}
button.add-btn{
    background: #6e6ee1;
    font-family: Inter;
    color: #f0f0fc;
    cursor: pointer;
}