@import url('https://fonts.googleapis.com/css2?family=Afacad:ital,wght@0,400..700;1,400..700&family=Be+Vietnam+Pro:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Big+Shoulders+Stencil:opsz,wght@10..72,100..900&family=Goldman:wght@400;700&family=Indie+Flower&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Orbitron:wght@400..900&display=swap');

* {
    box-sizing: border-box;
}
body {
    display: flex;
    background-color: #f0f0fc;
    margin: 0;
    padding: 0;
    font-size: 18px;
    font-family: Inter, sans-serif;
}

.transaction {
    margin-left: var(--sidebar-width);
    width: calc(100% - var(--sidebar-width));
    display: flex;
    flex-direction: column;
    gap: 2rem;
    padding: 24px;
}
.transaction-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.transaction-header .title {
    color: #6e6ee1;
    font-family: Montserrat;
    font-size: 60px;
    padding-left: 10px;
    border-left: 5px solid #151565;
    text-shadow: 1px 1px 2px #151565;
}

.add-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    background: #6e6ee1;
    font-family: Inter;
    color: #f0f0fc;
    width: 200px;
    height: 60px;
    text-align: center;
    border-radius: 15px;
    font-size: 19px;
    font-weight: bold;
    border: none;
    cursor: pointer;
    box-shadow:3px 3px 5px 0px #151565;
}

.add-text {
    margin-left: 10px;
    white-space: nowrap;
}

.add-btn:hover {
    background-color: #4242d4;
    box-shadow: inset 0 2px 4px #0000001a;
    color: #ffffff;
}

.tool {
    display: flex;
    align-items: center;
    gap: 30px;
    margin-left: 20px;
}

.search-box {
    position: relative;
    width: 300px;
}

.search-icon {
    position: absolute;
    left: 15px;
    top: 50%;
    transform: translateY(-50%);
    pointer-events: none;
}

.search-input {
    width: 100%;
    height: 45px;
    padding-left: 45px;
    border-radius: 15px;
    border: 1px solid #151565;
    font-size: 18px;
}

.search-input:hover {
    box-shadow: 2px 2px 3px #7d7daa;
}

.search-input:focus {
    outline: none;
    box-shadow:
        inset 0 2px 4px #0000001a,
        3px 3px 4px #7d7daa;
    background-color: #f4f4ff;
}

#sort-opt {
    height: 45px;
    padding: 0 15px;
    border-radius: 15px;
    border: 1px solid #151565;
    background-color: #f4f4ff;
    color: #151565;
    font-size: 16px;
    cursor: pointer;
}

#sort-opt:hover {
    box-shadow:
        inset 0 1px 4px #0000001a;
}

#sort-opt option {
    background-color: white;
    color: #151565;
}

.history-list {
    display: flex;
    flex-direction: column;
    margin-top: 30px;
    margin-left: 40px;
    gap: 15px;
    border-radius: 5px;
}
.history-item {
  display: flex;
  justify-content: space-between;
  padding: 16px;
  border-radius: 12px;
  background: white;
}



/*add_transaction*/
.hidden {
    display: none;
}

#overlay {
    position: fixed;
    inset: 0;
    background: rgba(0, 0, 0, 0.4);
    z-index: 10;
}

#formPopup {
    display: flex;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #ebebff;
    padding: 20px;
    width: 500px;
    border-radius: 8px;
    z-index: 11;
}

#transactionForm {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    align-items: center;
    gap: 1rem;
    padding-bottom: 25px;
    border-radius: 5px;
}

.add-title {
    color: #6e6ee1;
    font-family: Montserrat;
    padding-left: 10px;
    text-shadow: 1px 1px 0 #151565;
}

.input-group {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.input-group input {
    font-size: 17px;
    height: 45px;
    padding: 5px 15px;
    border: 0.5px solid #151565;
    border-radius: 5px;
}

label {
    margin-bottom: 6px;
    font-size: 17px;
}

.type-opt {
    display: flex;
    width: 70%;
    padding: 0;
    height: 50px;
    border-radius: 10px;
    border: none;
    background-color: white;
}

.type-opt input[type="radio"] {
    display: none;
}

.type-opt label {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: Inter;
    color: #000000;
    width: 100px;
    height: 50px;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    transition: 0.2s;
}

#thu:checked+label,#chi:checked+label {
    background-color:#6e6ee1;
    font-family: Inter;
    color: #ffffff;
    width: 200px;
    height: 50px;
    text-align: center;
    font-size: 19px;
    font-weight: bold;
    border-radius: 10px;
}
.type-opt input:not(:checked)+label {
    background-color: #ffffff;
    opacity: 0.8;
    border-radius: 10px;
}

.type-opt input:not(:checked)+label:hover {
    background-color: #6e6ee167;
    opacity: 0.8;
    border-radius: 10px;
}

.money {
    width: 75%;
}

.choose {
    display: flex;
    width: 75%;
    height: 80px;
    justify-content: space-between;
}

.date {
    width: 49%;
}

.category {
    width: 49%;
}

#opt-category {
    height: 45px;
    padding: 10px 15px;
    font-size: 16px;
    border: 0.5px solid #151565;
    border-radius: 5px;
}

.note {
    width: 75%;
}

.bttn {
    display: flex;
    justify-content: space-around;
    width: 75%;
    height: 50px;
    gap: 10px;
}

button {
    display: flex;
    justify-content: center;
    align-items: center;
    background: #3c3ce4;
    font-family: Inter;
    color: #f0f0fc;
    width: 200px;
    height: 50px;
    text-align: center;
    border-radius: 15px;
    font-size: 19px;
    font-weight: bold;
    border: none;
    cursor: pointer;
    text-decoration: none;
    padding: 10px;
}

button:hover {
    box-shadow: inset 0 2px 4px #0000001a;
}

.bttn button:first-child {
    background: #ffffff;
    color: #000000;
    border: 1px solid #000000;
    width: 40%;
}

.bttn button:first-child:hover {
    background: #6e6ee167;
    border: 1px solid #6e6ee167;
    color: #ffffff;
}

.bttn button:last-child:hover {
    background: #141494;
}