@import url('https://fonts.googleapis.com/css2?family=Afacad:ital,wght@0,400..700;1,400..700&family=Be+Vietnam+Pro:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Big+Shoulders+Stencil:opsz,wght@10..72,100..900&family=Goldman:wght@400;700&family=Indie+Flower&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Orbitron:wght@400..900&display=swap');

body {
    background-color: #ffffff;
    margin: 0;
    padding: 0;
    font-size: 18px;
    font-family: Inter, sans-serif;
}

.transaction{
    display: flex;
    flex-direction: column;
    gap: 2rem;
    margin: 2rem 5rem ;
    padding: 3rem;
}

.transaction-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.transaction-header .title{
    color: #6e6ee1;
    font-family: Montserrat;
    font-size: 60px;
    padding-left: 10px;
    border-left: 5px solid #151565;
    text-shadow: -5px 1px 0 #151565;
}
.add-btn{
    display: flex;
    justify-content: center;
    align-items: center;
    background: #6e6ee1;
    font-family: Inter;
    color: #f0f0fc;
    width: 200px;
    height: 60px;
    text-align: center;
    border-radius: 15px;
    font-size: 19px;
    font-weight: bold;
    border: none;
    cursor: pointer;
    box-shadow: 5px 5px 0 0 #151565;
    text-decoration: none;
}
.add-text{
    margin-left: 10px ;
    white-space: nowrap;
}
.add-btn:hover{
    background-color: #6565cd;
    box-shadow: inset 5px 5px 0 0 #151565;
}

.tool{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.search-box{
    position: relative;
    width: 300px; 
}
.search-icon{
    position: absolute;
    left: 15px;
    top: 50%;
    transform: translateY(-50%);
    pointer-events: none;
}
.search-input{
    width:100% ;
    height: 45px ;
    padding-left: 45px;
    border-radius: 15px;
    border: 1px solid #151565;
    font-size: 18px;
}
.search-input:hover{
    box-shadow: 3px 3px 6px #151565;
}
.search-input:focus{
    outline: none;
    box-shadow:
        inset 0 2px 4px #0000001a, 
        3px 3px 6px #151565;
    background-color: #f4f4ff;
}
#sort-opt {
    height: 45px;
    padding: 0 15px;
    border-radius: 15px;
    border: 2px solid #151565;
    background-color: #f4f4ff;
    color: #151565;
    font-size: 16px;
    cursor: pointer;
}
#sort-opt:hover {
    box-shadow:
        inset 0 2px 4px #0000001a;
}
#sort-opt option {
    background-color: white;
    color: #151565;
}
.history {
    display: flex;
    flex-direction: column;
    gap: 15px;
}






/*add_transaction*/
.hidden{
    display: none;
}
#overlay {
    position: fixed;
    inset: 0;
    background: rgba(0, 0, 0, 0.4);
    z-index: 10;
}
#formPopup {
    display: flex;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: #fff;
    padding: 20px;
    width: 600px;
    border-radius: 8px;
    z-index: 11;
}
#transactionForm{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    align-items: center;
    gap: 1rem;
    padding-bottom: 25px;
}
.add-title{
    color: #4e4eb9;
    font-family: Montserrat;
    font-size: 36px;
    padding-left: 10px;
    text-shadow: 1px 1px 0 #151565;
}
.input-group{
    display: flex;
    flex-direction: column;
    height: 100%;
}
.input-group input{
    font-size: 18px;
    height: 45px;
    padding: 5px 15px;
    border: 0.5px solid #151565;
    border-radius: 5px;
}
label{
    margin-bottom: 6px;
    font-size: 18px;
}
.type-opt {
    display: flex;
    width: 70%;
    padding: 0;
    height: 60px;
    border: 0.5px solid #151565;
    border-radius: 10px;
    gap: 5px;
}
.type-opt input[type="radio"] {
    display: none;
}
.type-opt label {
    flex: 1;
    display: flex;
    height: 60px;
    align-items: center;
    justify-content: center;
    font-family: Inter;
    color: #000000;
    width: 200px;
    height: 60px;
    font-size: 19px;
    font-weight: bold;
    cursor: pointer;
    transition: 0.2s;
}
#thu:checked + label {
    background-color: #47ba40;
    font-family: Inter;
    color: #ffffff;
    width: 200px;
    height: 60px;
    text-align: center;
    font-size: 19px;
    font-weight: bold;
    border-radius: 10px;
    box-shadow: 5px 0px 2px 0px #274d26;
}
#chi:checked + label {
    background: #eb3c25;
    font-family: Inter;
    color: #ffffff;
    width: 200px;
    height: 60px;
    text-align: center;
    font-size: 19px;
    font-weight: bold;
    border-radius: 10px;
    box-shadow: -5px 0px 2px 0px #7b2216;
}
.type-opt input:not(:checked) + label:hover{
    background-color:#d2d1d1;
    opacity: 0.8;
    border-radius: 10px;
}
.money{
    width: 70%;
}
.choose{
    display: flex;
    width: 70%;
    gap: 4rem;
    height: 80px;
    justify-content: space-between;
}
.date{
    width: 40%;
}
.category{
    width: 40%;
}
#opt-category{
    height: 45px;
    padding: 10px 15px;
    font-size: 16px;
    border: 0.5px solid #151565;
    border-radius: 5px;
}
.note{
    width: 70%;
}
.bttn{
    display: flex;
    justify-content: space-around;
    width: 70%;
    height: 50px;
    gap: 5px;
}
button{
    display: flex;
    justify-content: center;
    align-items: center;
    background: #6565cd;
    font-family: Inter;
    color: #f0f0fc;
    width: 200px;
    height: 60px;
    text-align: center;
    border-radius: 15px;
    font-size: 19px;
    font-weight: bold;
    border: none;
    cursor: pointer;
    text-decoration: none;
}
button:hover{
    box-shadow: inset 5px 5px 0 0 #151565;
}
.bttn button:first-child{
    background:rgb(230, 51, 51);
}
.bttn button:first-child:hover{
    background:rgb(226, 21, 21);
}
.bttn button:last-child:hover{
    background:#2121a2;
}
