* {
    box-sizing: border-box;
}
body {
    background-color: #f0f0fc;
    margin: 0;
    padding: 0;
    font-size: 18px;
    font-family: Inter, sans-serif;
}

.settings {
    margin-left: var(--sidebar-width);
    padding: 24px;
    display: flex;
    flex-direction: column;
    gap: 2rem;
}
.settings-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.settings-header .title {
    color: #6e6ee1;
    font-family: Montserrat;
    font-size: 50px;
    padding-left: 10px;
    border-left: 5px solid #151565;
    text-shadow: 1px 1px 2px #151565;
}
.categories{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 28px;
    margin-left: 24px;
    margin-right: 24px;
}
.budget{
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    padding: 30px 24px;
    background-color: #ffffff;
    font-size: 18px;
    box-shadow: 0px 0px 5px 2px #e1e0e0;
}
.budget:hover{
    transform: translateY(-6px);
    box-shadow: 0 10px 25px rgba(0,0,0,0.08);
}
.budget-header{
    display: flex;
    justify-content: space-between;
    font-weight: bold;
    font-size: larger;
}
.budget-title{
    display: flex;
    gap: 15px;
    justify-content: center;
    align-items: center;
}
i {
  font-size: 20px;
  line-height: 2;
}
.budget-header .budget-title i {
  font-size: 20px;
  color: #0000ad; 
}
.btn-setting{
    width: 150px;
    height: 30px;
    border: 0.5px solid #5454dd;
    border-radius: 5px;
    background-color: #ffffff;
    font-size: 16px;
    font-weight: 550;
    color: #6e6ee1;
}
.setup{
    border: 0.5px solid #f1f1fb;
    border-radius: 50px;
    background-color: #f1f1fb;
    font-size: 16px;
    font-weight: 550;
    color: #31315f;
}
.btn-setting:hover, .setup:hover{
    border: 0.5px solid #6e6ee1;
    background-color: #6e6ee1;
    color: #ffffff;
}


/*Form*/
.hidden {
    display: none;
}

#overlay {
    position: fixed;
    inset: 0;
    background: rgba(0, 0, 0, 0.4);
    z-index: 10;
}

#formPopup {
    display: flex;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #ebebff;
    padding: 20px;
    width: 500px;
    border-radius: 8px;
    z-index: 11;
}