@import url('https://fonts.googleapis.com/css2?family=Afacad:ital,wght@0,400..700;1,400..700&family=Be+Vietnam+Pro:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Big+Shoulders+Stencil:opsz,wght@10..72,100..900&family=Goldman:wght@400;700&family=Indie+Flower&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Orbitron:wght@400..900&display=swap');

* {
  box-sizing: border-box;
}

body {
  background-color: #f0f0fc;
  padding: 20px;
  font-size: 16px;
  font-family: 'Inter', sans-serif;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.main-frame {
  background-color: #f0f0fc;
  width: 100%;
  max-width: 1000px;
  height: 600px;
  /* Điều chỉnh kích thước cả khung div */
  perspective: 1000px;
  overflow: hidden;
  /* Che phần slide */
  position: relative;
  border-radius: 20px;
  box-shadow: 0px 0px 10px 3px rgba(0,0,0,0.2);
}

.auth-footer {
  margin-top: 1.5rem;
  font-size: 0.9rem;
  color: #666;
}

.auth-footer a {
  color: #6e6ee1;
  text-decoration: none;
  font-weight: 600;
}

.container {
  background-color: #f0f0fc;
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
  position: relative;
  overflow: hidden;
  width: 200%;
  /* 200% độ rộng màn hình để giữ cả 2 section */
  height: 100vh;
  display: flex;
  /* transition: transform 0.6s cubic-bezier(0.68, -0.55, 0.265, 1.55); */
  transition: transform 0.5s ease-in-out;
}

/* Trượt cả container */
.container.slide-active {
  transform: translateX(-50%);
}

/* SECTION 1: WELCOME */
.welcome-section {
  width: 50%;
  /* 50% của 200% = 100% */
  flex-shrink: 0;
  border-radius: 10px;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5rem;
  background-color: #dbdbf8;
  /* box-shadow: inset 0px 0px 10px 0px rgba(0,0,0,0.2);   */
  border: 1px solid rgba(255, 255, 255, 0.4);
  padding: 0 5rem;
}

.welcome-text {
  flex: 1;
  max-width: 600px;
  margin-bottom: 5rem;
}

.welcome-img {
  flex: 1;
  display: flex;
  justify-content: center;
}

.welcome-img img {
  max-width: 100%;
  height: auto;
  margin-bottom: 5rem;
}

h1 {
  font-size: 3.5rem;
  color: #6e6ee1;
  text-shadow: -1px -1px #08083c, 1px 1px #6e6ee1;
  text-transform: uppercase;
  margin-bottom: 1rem;
}

.welcome-text > p {
  color: #08083c;
  font-weight: 300;
  font-size: 1.2rem;
  margin-bottom: 2rem;
}

/* BUTTON */
#btn {
  background: #6e6ee1;
  color: #f0f0fc;
  font-family: inherit;
  padding: 0.35em;
  padding-left: 1.2em;
  font-size: 17px;
  font-weight: 500;
  border-radius: 0.9em;
  border: none;
  letter-spacing: 0.05em;
  display: flex;
  align-items: center;
  box-shadow: -1px -1px #f0f0fc, 1px 1px #6e6ee1;
  overflow: hidden;
  position: relative;
  height: 2.8em;
  padding-right: 3.3em;
  cursor: pointer;
}

#btn .arrow {
  background: #f0f0fc;
  margin-left: 1em;
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 2.2em;
  width: 2.2em;
  border-radius: 0.7em;
  right: 0.3em;
  transition: all 0.3s;
}

#btn:hover .arrow {
  width: calc(100% - 0.6em);
}

#btn .arrow svg {
  width: 1.1em;
  transition: transform 0.3s;
  color: #6e6ee1;
}

#btn:hover .arrow svg {
  transform: translateX(0.1em);
}

#btn:active .arrow svg {
  transform: scale(0.95);
}

/* SECTION 2: LOGIN/REGISTER */
.login-card {
  width: 50%;
  flex-shrink: 0;
  height: 100%;
  position: relative;
  background-color: #fff;
  overflow: hidden;
  /* Thông tin quan trọng cho slide phủ lớp bên trong */
}

/* Các kiểu container biểu mẫu thông dụng */
.form-container {
  position: absolute;
  top: 0;
  height: 100%;
  transition: all 0.6s ease-in-out;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.auth-form {
  background-color: #fff;
  color: #6e6ee1;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 0 50px;
  height: 82%;
  width: 95%;
  margin-bottom: 5.5rem;
  border-radius: 10px;
  box-shadow: 0px 0px 10px -2px rgba(0,0,0,0.2);
  border: none;
  text-align: center;
}

.form-group {
  width: 100%;
  margin-bottom: 1rem;
  margin-top: 5px;
  position: relative;
}

.form-group label {
  background-color: #fff;
  padding: 5px;
  display: block;
  font-weight: 250;
  position: absolute;
  color: #666;
  pointer-events: none;
  left: 10px;
  top: 50%;
  transform: translateY(-50%);
  transition: all 0.3s ease;
}

.form-group input {
  background-color: transparent;
  border: 1px solid #999;
  padding: 12px 15px;
  width: 100%;
  border-radius: 8px;
  outline: none;
  transition: all 0.3s ease;
}

.form-group input:focus + label,
.form-group input:not(:placeholder-shown) + label {
  top: 0;
  font-size: 12px;
  color: #6e6ee1; /* Màu sắc khi active */
  font-weight: bold;
}

/* Thay đổi màu viền input khi focus */
.form-group input:focus {
  border: 1.8px solid #6e6ee1;
}

.other-field {
  display: flex;
  gap: 15px;
  width: 100%;
}

.other-field input, .other-field select{
  font-size: 15px;
  background-color: transparent;
  border: 1px solid #999;
  padding: 12px 20px;
  border-radius: 8px;
  outline: none;
  flex: 1;
}

.other-field input:focus, .other-field select:focus {
  border: 2px solid #6e6ee1;
}

.btn-primary {
  border-radius: 10px;
  border: 1px solid #6e6ee1;
  background-color: #6e6ee1;
  color: #FFFFFF;
  font-size: 12px;
  font-weight: bold;
  padding: 12px 45px;
  letter-spacing: 1px;
  text-transform: uppercase;
  transition: all ease-in-out 0.2s;
  cursor: pointer;
  margin-top: 1rem;
}

.btn-primary:active {
  transform: scale(0.95);
}

.btn-primary:hover {
  background-color: #4d4dd6;
}

/* Sign In / Sign Up Positioning & Animation */
.sign-in-container {
  left: 0;
  width: 50%;
  z-index: 2;
}

.sign-up-container {
  left: 0;
  width: 50%;
  opacity: 0;
  z-index: 1;
}

#sign-up-btn:hover {
  color:#4d4dd6;
}

#sign-in-btn:hover {
  color:#4d4dd6;
}

/* Lớp animation được áp dụng khi trượt */
.login-card.right-panel-active .sign-in-container {
  transform: translateX(100%);
}

.login-card.right-panel-active .sign-up-container {
  transform: translateX(100%);
  opacity: 1;
  z-index: 5;
  animation: show 0.6s;
}

@keyframes show {

  0%,
  49.99% {
    opacity: 0;
    z-index: 1;
  }

  50%,
  100% {
    opacity: 1;
    z-index: 5;
  }
}

/* OVERLAY (Phần hình ảnh chuyển động) */
.overlay-container {
  position: absolute;
  top: 0;
  left: 50%;
  width: 50%;
  height: 100%;
  overflow: hidden;
  transition: transform 0.6s ease-in-out;
  z-index: 100;
}

/*Cách viết css này có nghĩa chọn phần tử nào có cả hai lớp này cùng lúc.*/
.login-card.right-panel-active .overlay-container {
  transform: translateX(-100%);
}

.overlay {
  border-radius: 10px;
  background-color: #dbdbf8;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 0 0;
  color: #08083c;
  position: relative;
  left: -100%;
  height: 100%;
  width: 200%;
  transform: translateX(0);
  transition: transform 0.6s ease-in-out;
}

.login-card.right-panel-active .overlay {
  transform: translateX(50%);
}

.overlay-panel {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 0 40px;
  text-align: center;
  top: 0;
  height: 100%;
  width: 50%;
  transform: translateX(0);
  transition: transform 0.6s ease-in-out;
}

.overlay-panel img {
  max-width: 100%;
  max-height: 100%;
}

/* Điều chỉnh overlay panel sang phía bên phải ban đầu. */
/* Điều chỉnh overlay panel sang phía bên phải ban đầu. */
.overlay-panel {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 0 40px;
  text-align: center;
  top: 0;
  height: 100%;
  width: 50%;
  transform: translateX(0);
  transition: transform 0.6s ease-in-out;
}

.overlay-left {
  transform: translateX(-20%);
}

.overlay-right {
  right: 0;
  transform: translateX(0);
}

.login-card.right-panel-active .overlay-left {
  transform: translateX(0);
}

.login-card.right-panel-active .overlay-right {
  transform: translateX(20%);
}

/* Nút quay lại */
.btn-back {
  position: absolute;
  top: 20px;
  left: 20px;
  background: transparent;
  border: 2px solid #6e6ee1;
  border-radius: 10px;
  color: #6e6ee1;
  padding: 5px 10px;
  font-weight: 600;
  cursor: pointer;
  z-index: 200;
  display: flex;
  align-items: center;
  gap: 8px;
  font-size: 1rem;
  /*Định dạng nút back*/
  box-shadow: 0px 0px 6px 0px rgba(118,74,188,0.2);
  /* box-shadow: inset 0 0.0625em 0 0 #f4f4f4, 0 0.0525em 0 0 #efefef,
    0 0.125em 0 0 #ececec, 0 0.25em 0 0 #e0e0e0, 0 0.3125em 0 0 #dedede,
    0 0.375em 0 0 #dcdcdc, 0 0.425em 0 0 #cacaca, 0 0.425em 0.5em 0 #6e6ee1;
  transition: 0.15s ease; */
}

.btn-back:active {
  translate: 0 0.225em;
  box-shadow: inset 0 0.03em 0 0 #f4f4f4, 0 0.03em 0 0 #efefef,
    0 0.0525em 0 0 #ececec, 0 0.125em 0 0 #e0e0e0, 0 0.125em 0 0 #dedede,
    0 0.2em 0 0 #dcdcdc, 0 0.225em 0 0 #cacaca, 0 0.225em 0.375em 0 #cecece;
}