@import url('https://fonts.googleapis.com/css2?family=Afacad:ital,wght@0,400..700;1,400..700&family=Be+Vietnam+Pro:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Big+Shoulders+Stencil:opsz,wght@10..72,100..900&family=Goldman:wght@400;700&family=Indie+Flower&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Orbitron:wght@400..900&display=swap');


body {
    background-color: #f0f0fc;
    margin: 0;
    padding: 0;
    font-size: 18px;
    font-family: Inter;
}

div.welcome-section {
    display: flex;
    align-items: center;
    gap: 2rem;
    border-radius: 10px;
    border: 1px solid #dbdbf8;
    margin: 4rem;
    margin-top: 5.5rem;
    padding: 3rem;
    background-color: #dbdbf8;
    box-shadow: 0px 0px 4px 2px rgba(0,0,0,0.25);
}

h1 {
    font-size: 4rem;
    color: #6e6ee1;
    /* text-shadow: -1px 0 #08083c, 0 1px #08083c, 0 -1px #08083c, 1px 0 #08083c; */
    /* text-shadow: 2px 2px 2px #08083c; */
    text-shadow: -1px -1px #08083c, 1px 1px #6e6ee1;
    text-transform: uppercase;
}

div.welcome-text > p {
    color: #08083c;
    font-family: Inter;
    font-weight: 200;
    font-size: 23px;
}

#btn {
  background: #6e6ee1;
  font-family: Inter;
  color: #f0f0fc;
  font-family: inherit;
  margin-top: 1.5rem;
  padding: 0.35em;
  padding-left: 1.2em;
  font-size: 17px;
  font-weight: 500;
  border-radius: 0.9em;
  border: none;
  letter-spacing: 0.05em;
  display: flex;
  align-items: center;
  /* box-shadow: 2px 4px #08083c; */
  box-shadow: -1px -1px #08083c, 1px 1px #6e6ee1;
  overflow: hidden;
  position: relative;
  height: 2.8em;
  padding-right: 3.3em;
  cursor: pointer;
}

#btn .arrow {
  background: #f0f0fc;
  margin-left: 1em;
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 2.2em;
  width: 2.2em;
  border-radius: 0.7em;
  right: 0.3em;
  transition: all 0.3s;
}

#btn:hover .arrow {
  width: calc(100% - 0.6em);
}

#btn .arrow svg {
  width: 1.1em;
  transition: transform 0.3s;
  color: #6e6ee1;
}

#btn:hover .arrow {
  transform: translateX(0.1em);
}

#btn:active .arrow svg{
  transform: scale(0.95);
}

.fade-out {
  opacity: 0 !important;
  transform: translateY(-20px);
  transition: all 0.5s ease-in-out;
}