@import url('https://fonts.googleapis.com/css2?family=Afacad:ital,wght@0,400..700;1,400..700&family=Be+Vietnam+Pro:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Big+Shoulders+Stencil:opsz,wght@10..72,100..900&family=Goldman:wght@400;700&family=Indie+Flower&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Orbitron:wght@400..900&display=swap');

* {
    box-sizing: border-box;
}

body {
    background-color: #f0f0fc;
    color: #6e6ee1;
    margin: 0;
    padding: 0;
    font-size: 18px;
    font-family: Inter, sans-serif;
}

.title {
    font-family: Montserrat;
    font-size: 17px;
}

.overview {
    margin-left: var(--sidebar-width);
    padding: 24px;
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.content {
    display: grid;
    grid-template-rows: auto auto auto;
    grid-gap: 2rem;
}

/*Định dạng thẻ card*/

div.card {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
}

div.card>div {
    padding: 0 20px;
    border-radius: 10px;
    height: 10em;
    width: 100%;
    background-color: #fff;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    transition: transform 0.3s;
}

div.card>div:hover {
    transform: translateY(-3%);
}

p.title-card {
    font-size: 20px;
    display: flex;
    justify-content: left;
    align-items: center;
    gap: 10px;
    text-transform: uppercase;
    font-weight: bolder;
}

span.icon {
    border-radius: 50%;
    padding: 10px;
}

.wallet-svg {
    background-color: #f0f0fc;
    color: #6e6ee1;
}

.arrowup-svg {
    background-color: #E8F5EE;
    color: #1D8B6E;
}

.arrowdown-svg {
    background-color: #FDECEF;
    color: #E73B55;
}

p.value-card {
    font-size: 35px;
    font-family: Montserrat;
    font-weight: bolder;
    padding-left: 10px;
}

/*Định dạng biểu đồ*/

div.chart {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
}

div.chart>div {
    position: relative;
    /*Chart.js responsive*/
    border-radius: 10px;
    height: 25em;
    width: 100%;
    background-color: #fff;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    transition: transform 0.3s;
}

div.chart>div:hover {
    transform: translateY(-1%);
}

/*Định dạng lịch sử giao dịch*/
.recent-transaction {
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    border-radius: 10px;
    background-color: #fff;
    padding: 0 1rem 1rem;
}

.history-list {
    display: flex;
    flex-direction: column;
    margin-top: 30px;
    gap: 15px;
    border-radius: 5px;
}

.history-item {
    display: flex;
    justify-content: space-between;
    padding: 16px;
    border-radius: 12px;
    background: white;
    color: #000;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

.view-all-box {
    display: flex;
    justify-content: right;
    align-items: center;
}

.btn-view-all{
    border-radius: 5px;
    padding: 5px 10px;
    font-family: Montserrat;
    text-decoration: none;
    color: #6e6ee1;
    font-weight: 600;
    font-size: 0.9em;
    transition: all 0.3s ease;
}

.btn-view-all:hover{
    border: 1px solid #6e6ee1;
}

.btn-view-all:active {
    translate: 0 0.225em;
    box-shadow: inset 0 0.03em 0 0 #f4f4f4, 0 0.03em 0 0 #efefef,
        0 0.0525em 0 0 #ececec, 0 0.125em 0 0 #e0e0e0, 0 0.125em 0 0 #dedede,
        0 0.2em 0 0 #dcdcdc, 0 0.225em 0 0 #cacaca, 0 0.225em 0.375em 0 #cecece;
}