
* {
    box-sizing: border-box;
}
body {
    background-color: #f0f0fc;
    color: #6e6ee1;
    margin: 0;
    padding: 0;
    font-size: 18px;
    font-family: Inter, sans-serif;
}

.title {
    font-family: Montserrat;
    font-size: 17px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#opt {
    font-family: Inter;
    font-weight: 500;
    color: #6e6ee1;
    border: 2px solid #6e6ee1;
    padding: 5px 15px;
    border-radius: 10px;
}

.report {
    margin-left: var(--sidebar-width);
    padding: 24px;
    display: flex;
    flex-direction: column;
    gap: 2rem;
}


.content {
    display: grid;
    grid-template-rows: auto auto auto;
    grid-gap: 2rem;
}

/*Định dạng thẻ card*/

div.card {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
}

div.card>div {
    padding: 0 20px;
    border-radius: 10px;
    height: 10em;
    width: 100%;
    background-color: #fff;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    transition: transform 0.3s;
}

div.card>div:hover {
    transform: translateY(-3%);
}

p.title-card {
    font-size: 20px;
    display: flex;
    justify-content: left;
    align-items: center;
    gap: 10px;
    text-transform: uppercase;
    font-weight: bolder;
}

span.icon {
    border-radius: 50%;
    padding: 10px;
}

.wallet-svg {
    background-color: #f0f0fc;
    color: #6e6ee1;
}

.arrowup-svg {
    background-color: #E8F5EE;
    color: #1D8B6E;
}

.arrowdown-svg {
    background-color: #FDECEF;
    color: #E73B55;
}

p.value-card {
    font-size: 35px;
    font-family: Montserrat;
    font-weight: bolder;
    padding-left: 10px;
}

/*Định dạng biểu đồ*/

div.chart {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
}

div.chart>div {
    position: relative;
    /*Chart.js responsive*/
    border-radius: 10px;
    height: 25em;
    width: 100%;
    background-color: #fff;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}