@import url('https://fonts.googleapis.com/css2?family=Afacad:ital,wght@0,400..700;1,400..700&family=Be+Vietnam+Pro:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Big+Shoulders+Stencil:opsz,wght@10..72,100..900&family=Goldman:wght@400;700&family=Indie+Flower&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Orbitron:wght@400..900&display=swap');

:root {
    --sidebar-width: 250px;
}

* {
    box-sizing: border-box;
}

.sidebar {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 5px 15px;
    box-sizing: border-box;
    width: var(--sidebar-width);
    height: 100vh;
    background-color: #6e6ee1;
    border-right: 2px solid #5858da;
    color: white;
    position: fixed;
    left: 0;
    top: 0;
    background: linear-gradient(180deg, #7b7ce6, #6c6ddf);
}

.sidebar a {
    display: flex;
    font-family: Inter;
    align-items: center;
    color: #f0f0fc;
    width: 90%;
    height: 55px;
    font-size: 19px;
    font-weight: bold;
    border: none;
    cursor: pointer;
    text-decoration: none;
    padding: 12px 20px;
    margin: 10px;
    border-radius: 10px;
    opacity: 0.85;
    gap: 15px;
}

.sidebar i {
    font-size: 22px;
}

.sidebar a:hover {
    background-color: rgba(255, 255, 255, 0.2);
    color: white;
    opacity: 1;
}

.sidebar a.active {
    color: white;
    opacity: 1;
    background: rgba(255, 255, 255, 0.2);
    font-weight: 600;
}

.sidebar a:focus {
    background: rgba(255, 255, 255, 0.2)
}
.logo {
    display: flex;
    justify-content: left;
    align-items: center;
    gap: 10px;
    font-size: 20px;
}

.logo > img{
    width: 100%;
    filter: drop-shadow(1px 1px #333);
}

.user {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 2rem;
}

.line {
    width: 100%;
    border-color: #f0f0fc;
    transform: translateY(7.5rem);
}

.username {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 10px;
    gap: 15px;
}

div.username > span {
    width: 4.8rem;
    font-size: 16px;
}